@model GreenMonkey.UI.Models.Suscriptor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del suscriptor</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Propietario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            Url
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.BaseUrl)">@Html.DisplayFor(model => model.BaseUrl)</a>
        </dd>
    </dl>
    <dl class="">
        <h4>Lista de status</h4>
        @foreach (var status in Model.StatusList)
        {
            <p>@(status.UpdatedDate.ToString("yyyy-MM-dd hh:mm:ss")) - <span class="label @(status.Status == "Online" ? "label-success" : "label-danger")">@(status.Status)</span></p>
        }
    </dl>
</div>
<br>
<br>
<p>
    @Html.ActionLink("Editar", "Edit", new { code = Model.Code }) |
    @Html.ActionLink("Ir a inicio", "Index")
</p>
