@model ICollection<GreenMonkey.UI.Models.Suscriptor>

<p>
    @Html.ActionLink("Registrar suscriptor", "SuscriptorForm")
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Propietario
        </th>
        <th>
            Url
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { code =item.Code }) |
            @Html.ActionLink("Details", "Details", new { code = item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { code = item.Code })
        </td>
    </tr>
}

</table>
